# Node / dev server
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local

# OS junk
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Temporary / cache
.cache/
.tmp/

# Logs
*.log
